* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background: #0d1117;
}

a {
  text-decoration: none;
  color: #fafafa;
}

.container {
  display: grid;
  grid-template-areas:
    "input input"
    "img output";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  color: #fafafa;
  gap: 1em;
  white-space: pre-line;
  transform: scale(1.5);
}

.input {
  grid-area: input;
  height: 0;
  padding: 2em 1em;
  align-self: end;
}

.terminal {
  font-family: monospace;
  background: #161b22;
  display: flex;
  align-items: center;
  padding-left: 1em;
  border-radius: 6px;
}

.output {
  grid-area: output;
  line-height: 1.4em;
  display: block;
  width: 280px;

}

.img {
  width: 280px;
  grid-area: img;
  border-radius: 6px;

}

.purple {
  color: #d2a8ff;
}

.red {
  color: #ff7b72;
}

.blue {
  color: #79c0ff;
}

.green {
  color: #7ee787;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas: "input" "img" "output";
    transform: scale(3);
  }
}